@import '../../_variables';

#Stories{
	>*{ max-width: 100% }

	#big-text{
		padding: 20px 40px;
		@include media-breakpoint(md){ padding: 70px 140px }
		color: hsla(35deg,100%,97.5%,.25);
		@include media-breakpoint(xl){ font-size: 70px !important; }
		line-height: 1.1;

		transition:
			line-height 5s;
	}

	>.scroll-container{
		margin: 70px 0 !important;
		@include media-breakpoint(md){ margin: 70px 0 140px !important; }
	}

	.scroll-container{
		//touch-action: pan-y;
		user-select: none;
		.scroll-bar-x{ display: none }
	}

	.story-card-row{
		@include hover{
			img{ filter: saturate(1) sepia(0) }
		}
	}

	.story-card{
		width: min-content;
		img{
			width: 439px;
			max-width: calc(100vw - 140px);
			@include media-breakpoint(md){ max-width: 50vw }
			@include media-breakpoint(lg){ max-width: 25vw }
			pointer-events: none;
			transition:
				filter 5s;
		}
		@include hover{
			img{
				filter: none;
				transition:
					filter 1s;
			}
		}
	}
	
	.vertical-text{
		margin-bottom: 150px !important;
		padding: 0 40px;
		@include media-breakpoint(sm){ padding: 0 140px }
	}
}

body:not(.loaded) #Stories{
	#big-text{
	}
}