@import '~supergrids.css/src/scss/mixins';
@import '_animations';

$gray-hue: 220;
$gray-sat: 0%;

$gray-0000: hsl($gray-hue,$gray-sat,  0.0%);
$gray-0025: hsl($gray-hue,$gray-sat,  2.5%);
$gray-0050: hsl($gray-hue,$gray-sat,  5.0%);
$gray-0075: hsl($gray-hue,$gray-sat,  7.5%);
$gray-0100: hsl($gray-hue,$gray-sat, 10.0%);
$gray-0125: hsl($gray-hue,$gray-sat, 12.5%);
$gray-0150: hsl($gray-hue,$gray-sat, 15.0%);
$gray-0175: hsl($gray-hue,$gray-sat, 17.5%);
$gray-0200: hsl($gray-hue,$gray-sat, 20.0%);
$gray-0225: hsl($gray-hue,$gray-sat, 22.5%);
$gray-0250: hsl($gray-hue,$gray-sat, 25.0%);
$gray-0275: hsl($gray-hue,$gray-sat, 27.5%);
$gray-0300: hsl($gray-hue,$gray-sat, 30.0%);
$gray-0325: hsl($gray-hue,$gray-sat, 32.5%);
$gray-0350: hsl($gray-hue,$gray-sat, 35.0%);
$gray-0375: hsl($gray-hue,$gray-sat, 37.5%);
$gray-0400: hsl($gray-hue,$gray-sat, 40.0%);
$gray-0425: hsl($gray-hue,$gray-sat, 42.5%);
$gray-0450: hsl($gray-hue,$gray-sat, 45.0%);
$gray-0475: hsl($gray-hue,$gray-sat, 47.5%);
$gray-0500: hsl($gray-hue,$gray-sat, 50.0%);
$gray-0525: hsl($gray-hue,$gray-sat, 52.5%);
$gray-0550: hsl($gray-hue,$gray-sat, 55.0%);
$gray-0575: hsl($gray-hue,$gray-sat, 57.5%);
$gray-0600: hsl($gray-hue,$gray-sat, 60.0%);
$gray-0625: hsl($gray-hue,$gray-sat, 62.5%);
$gray-0650: hsl($gray-hue,$gray-sat, 65.0%);
$gray-0675: hsl($gray-hue,$gray-sat, 67.5%);
$gray-0700: hsl($gray-hue,$gray-sat, 70.0%);
$gray-0725: hsl($gray-hue,$gray-sat, 72.5%);
$gray-0750: hsl($gray-hue,$gray-sat, 75.0%);
$gray-0775: hsl($gray-hue,$gray-sat, 77.5%);
$gray-0800: hsl($gray-hue,$gray-sat, 80.0%);
$gray-0825: hsl($gray-hue,$gray-sat, 82.5%);
$gray-0850: hsl($gray-hue,$gray-sat, 85.0%);
$gray-0875: hsl($gray-hue,$gray-sat, 87.5%);
$gray-0900: hsl($gray-hue,$gray-sat, 90.0%);
$gray-0925: hsl($gray-hue,$gray-sat, 92.5%);
$gray-0950: hsl($gray-hue,$gray-sat, 95.0%);
$gray-0975: hsl($gray-hue,$gray-sat, 97.5%);
$gray-1000: hsl($gray-hue,$gray-sat,100.0%);