@import '_variables';

:root{
	position: fixed;
}

body{
	overflow: hidden;
	font-family: 'Overpass',sans-serif;
	font-weight: 500;

	@include bg-color($gray-0000);
	@include text-color($gray-1000);
}

body,
#root{ display: contents }

.vertical-text{
	transform: rotateZ(180deg);
	writing-mode: vertical-rl;
	//text-orientation: mixed;
}

h1,
.md\:h1{
	@include media-breakpoint(xl){ font-size: 70px !important }
}

@mixin button-hover{
	background-color: transparent;
	background-position: 0% 0%;
	box-shadow: none;
	color: hsl(var(--bgHSL));
}

@include button-inputs{
	height: auto;
	border: 1px solid hsl(var(--textHSL));
	border-radius: 60px;
	padding: 10px 35px;
	//background-color: transparent;
	background: linear-gradient(135deg,hsl(var(--textHSL)) 50%,transparent 50%) 100% 100%/200% 200%;
	color: inherit;
	box-shadow: none;
	transition: all 1s;

	@include hover{ @include button-hover }
	&:active{ @include button-hover }
	&:focus{ @include button-hover }
}