@import '_variables';

:root{
	position: fixed;
}

body{
	overflow: hidden;
	font-family: 'Overpass',sans-serif;
	font-weight: 500;

	@include bg-color($gray-0000);
	@include text-color($gray-1000);
}

body,
#root{ display: contents }

.vertical-text{
	transform: rotateZ(180deg);
	writing-mode: vertical-rl;
	//text-orientation: mixed;
}

h1,
.md\:h1{
	@include media-breakpoint(xl){ font-size: 70px !important }
}

button{
	height: auto;
	border: 1px solid currentColor;
	border-radius: 60px;
	padding: 10px 35px;
	background-color: transparent;
	color: inherit;
	box-shadow: none;
}